@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006666;
    padding: 2.5rem 2rem;
    border-top: 1px solid #eee;
    flex-direction: row;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .logo {
    margin-bottom: 10px;
}
.logo img {
    height: 220px; 
    width: 220px; 
} */
.footer-col {
    display:block;
    padding: 0 15px;
    min-width: 205px; 
    text-align: justify;
}

.footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #e0e0e0;
}
.links {
    cursor: pointer;
}

.footer-col ul li svg {
    margin-right: 10px; 
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #e0e0e0;
    display: block;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Inter';
    text-align: center;
    background-color: #24262b;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.copyright a {
    text-decoration: none;
    color: inherit;
}
.copyright a {
    text-decoration: underline;
    color: #66c2c2; 
}

.copyright a:hover {
    color: #80d4d4; 
}

/* Responsive */
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-col {
        min-width: 100%;
        margin-bottom: 2rem; 
        padding: 0;
    }

    .footer-col h3 {
        margin-bottom: 1.5rem;
    }

    .footer-col ul li {
        margin-bottom: 8px;
    }

    .footer-col .social-links a {
        margin: 5px 5px 0 0;
    }
    .copyright {
        font-size: 13.5px; 
        /* white-space: nowrap; */
    }
}

/* ipad air, pro,  surface pro, next hub*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-col {
        flex: 1;
        padding: 0 15px;
        min-width: 45%; 
        text-align: justify;
    }

    .footer-col:nth-child(1),
    .footer-col:nth-child(2) {
        order: 1;
    }

    .footer-col:nth-child(3),
    .footer-col:nth-child(4) {
        order: 2;
    }

    .footer-col:nth-child(3),
    .footer-col:nth-child(4) {
        margin-top: 2rem; 
    }
}